* {
	margin:0;
	padding:0;
}
body {
	height:100%; 
	margin: 0;
	background-color: #000;
	font-family:'Tahoma', Verdana, Sans-Serif;
	color: #ECECEC;
}
a:link, a:visited {
	color: #ECECEC;
	text-decoration: none;
}
a:hover, a:active {
	color: #ECECEC;
	text-decoration: underline;
}

#content_container {
	width: 100%;
	margin: 0px auto 0px auto;
	height: 100%;
}

#content {
	font-size: 64px;
	color: #ECECEC;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#sub_content {
	position: relative;
	font-size: 20px;
	color: #7ad3ef;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#links {
	position: relative;
	font-size: 12px;
	text-align: center;
	margin: 20px;
	font-family: 'Roboto', sans-serif;
}