.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content {
  font-size: 64px;
  color: #ececec;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subContent {
  position: relative;
  font-size: 20px;
  color: #5bc2e7;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.links {
  position: relative;
  font-size: 12px;
  text-align: center;
  margin: 20px;
  font-family: "Roboto", sans-serif;
}
