.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.6;
}
