* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #000;
  font-family: "Roboto", "Tahoma", Verdana, sans-serif;
  color: #ececec;
}

a:link,
a:visited {
  color: #ececec;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ececec;
  text-decoration: underline;
}
